/Exercise4.01PigLatin/nbproject/private/
/ICS4U-TermProject/nbproject/private/
/ICS4U-TermProject/build/
/JFXSceneBuilderSource/nbproject/private/
/TermProjectGradleRoot/.nb-gradle/
/JMoneySrcNB/build/
/JMoneySrcNB/nbproject/private/